<body>
  <div class="toolbar-wrap">
  <mat-toolbar class="menu">
    <a class="text"> Select Size of Array:</a>

    <mat-slider thumbLabel tickInterval="1"
    min="10" max="50" step="1" value="30" #slider
    (change)="onChange(slider.value)"></mat-slider>

    <span class="void"></span>

    <ul>
      <li>
        <a mat-button (click)="setBubble()">Bubble Sort</a>
      </li>
      <li>
        <a mat-button (click)="setMerge()">Merge Sort</a>
      </li>
      <li>
        <a mat-button (click)="setQuick()">Quick Sort</a>
      </li>
    </ul>

    <span class="void2"></span>

    <a mat-button (click)="performSort()">Go!</a>

  </mat-toolbar>

  <div class="array-container">
    <div class="arr" *ngFor="let x of visualArr" [style.height.px]="x*2"> {{ x }}</div>
  </div>
</div>


</body>
