body {
  background-color: lightsalmon;
  height: 100vh;
}


ul {
  list-style: none;
  padding: 0;
  margin-left: 75px;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.text {
  font-size: 20px;
}

.menu {
  background-color: lightsalmon;
}

.void {
  flex: 0.35 0.35;
}

.void2 {
  flex: 0.4 0.4;
}

.toolbar-wrap {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding-top: 10px;
}

.array-container {
  height: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.arr {
  width: auto;
  text-align: center;
  border-color: black;
  border-style: solid;
  background-color: ivory;

}

.btn:focus {
  outline: black auto 5px;
}

.hide {
  color: ivory
}
